*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}


:root {

	/*primary*/
	--clr-red: 	rgba(255,122,122,.92);
	--clr-green: hsl(154, 59%, 51%);
	--clr-light-green: hsl(154, 65%, 68%);
	--clr-blue: hsl(248, 32%, 49%);

	/*neutral*/
	--clr-dark-blue: hsl(249, 10%, 26%);
	--clr-gray-blue: hsl(246, 25%, 77%);
	--clr-white: white;

	/*font*/
	--ff-poppins: 'Poppins', sans-serif;

	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semiBold: 600;
	--fw-bold: 700;
}


body {
	background-color: var(--clr-red);
	background-image: url("./images/bg-intro-mobile.png");
	font-family: var(--ff-poppins);
}


.card {
	display: grid;
	gap: 1.4em;
	margin: 5.5rem 1.5rem 2.5rem;
}


.description {
	display: grid;
	gap: 1.5em;
	color: var(--clr-white);
	text-align: center;
}

.title {
	font-size: 1.75rem;
	line-height: 2.2rem;
}

.paragraph {
	line-height: 1.625rem;
	font-weight: var(--fw-medium);
}

.content {
	display: grid;

	gap: 1.4em;
	margin-bottom: 2.5rem;
}

.price-banner {
	margin-top: 2.75rem;
	color: var(--clr-white);
	background-color: var(--clr-blue);
	text-align: center;
	font-size: 15px;
	border-radius: 10px;
	box-shadow: 0px 8px 0px rgba(216,102,102,.7);
	padding: 1.3rem 4rem;
}

.price-banner span {
	font-weight: var(--fw-bold);
}

.card-form {
	display: grid;
	gap: 1em;
	text-align: right;	
	background-color: var(--clr-white);
	padding: 1.5rem 1.5rem 2rem;
	border-radius: 10px;

}

.input-field {
	position: relative;
}

.card-form input {
	width: 100%;
	border-radius: 5px;
	border: .5px solid lightgray;
	padding: 1rem;
	font-size: 14px;
	font-weight: var(--fw-semiBold);
}

.card-form input:focus {
	outline-color: var(--clr-red);
}

.icon {
	position: absolute;
	right: 15px;
	bottom: 40px;
	z-index: 999;
}

.warning {
	color: var(--clr-red);
	font-size: 11px;
	font-style: italic;
	font-weight: var(--fw-medium);


}

#submit {
	color: white;
	background-color: var(--clr-green);
	border: none;
	box-shadow: 0px 5px 0px hsl(151, 50%, 48%);
	letter-spacing: 1px;
}

#submit:hover,
#submit:focus {
	background-color: var(--clr-light-green);
	box-shadow: 0px 5px 0px hsl(151, 50%, 62%);
	cursor: pointer;
	outline: none;
}


.disclaimer {
	font-size: 11px;
	padding: 0px 1rem;
	color: var(--clr-gray-blue);
	font-weight: var(--fw-medium);
	text-align: center;
}

.disclaimer span {
	color: var(--clr-red);
	font-weight: var(--fw-bold);
	line-height: 21px;
}


@media screen and (min-width: 900px) {

	body {
		background-image: url("./images/bg-intro-desktop.png");
	}

	/*.card {
		margin: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3em;
		margin: 6.5rem 9.5rem;

	}

	.description {
		width: 50%;
		margin: auto;
		text-align: left;
	}



	.title {
		font-size: 50px;
		line-height: 55px;
	}

	.content {
		padding: 0;
		width: 50%;
		margin-bottom: 0;
		padding: 2rem 0;
	}

	.price-banner {
		margin: 0;
	}

	.card-form {
		padding-bottom: ;
	}*/

	.card {
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3em;
		margin: 7.3rem 9.5rem;

	}

	.description {
/*		width: 50%;*/
		margin: auto;
		text-align: left;
		gap: 3em;
	}



	.title {
		font-size: 50px;
		line-height: 55px;
	}


	.content {
		padding: 0 .2rem 0 .55rem;
		margin-bottom: 0;
	}

	.price-banner {
		margin: 0;
	}

	.card-form {
		padding-bottom: ;
	}
}








